[Unit]
Description = letsencrypt certificate renew service

[Service]
ExecStartPre = -/usr/bin/docker pull {{image_name}}:{{image_version}}

ExecStart = /usr/bin/docker run --rm --name letsencrypt \
                    -v "{{config_volume}}:/etc/letsencrypt" \
                    -v "{{data_volume}}:/var/lib/letsencrypt" \
                    -v "{{www_volume}}:/www" \
                    {{image_name}}:{{image_version}} renew -a webroot --webroot-path=/www --email {{email}} --agree-tos --rsa-key-size {{keysize}}

ExecStopPost  = -/bin/systemctl start {{nginx_reload_service_name}}

Restart = no
TimeoutSec = 60
