[Unit]
Description = letsencrypt certificate renew service

[Service]
ExecStartPre = -/usr/bin/docker pull {{letsencrypt_image_name}}:{{letsencrypt_image_version}}

ExecStart = /usr/bin/docker run \
                            --rm \
                            --name letsencrypt \
                            --volume "{{letsencrypt_config_volume}}:/etc/letsencrypt" \
                            --volume "{{letsencrypt_volume}}/data:/var/lib/letsencrypt" \
                            --volume "{{letsencrypt_www_volume}}:/www" \
                            --volume "{{letsencrypt_log_folder}}:/var/log/letsencrypt" \
                            {{letsencrypt_image_name}}:{{letsencrypt_image_version}} \
                            renew -a webroot \
                                  --webroot-path=/www \
                                  --non-interactive \
                                  --email {{letsencrypt_email}} \
                                  --agree-tos \
                                  --rsa-key-size {{letsencrypt_keysize}}

ExecStopPost  = -/bin/systemctl start {{letsencrypt_nginx_reload_service_name}}

Restart = no
TimeoutSec = 3600
