#!/bin/bash
set -e

if [ -z "$1" ]; then
  echo "Correct usage: $0 DOMAIN"
  exit 1
fi

DOMAIN=$1
EMAIL={{email}}

LETSENCRYPT_IMAGE="{{image_name}}:{{image_version}}"

docker run --rm --name letsencrypt_create_cert \
        --volume "{{config_volume}}:/etc/letsencrypt" \
        --volume "{{data_volume}}:/var/lib/letsencrypt" \
        --volume "{{www_volume}}:/www" \
        --volume "{{log_folder}}:/var/log/letsencrypt" \
        ${LETSENCRYPT_IMAGE} auth \
                             -a webroot \
                             --webroot-path=/www \
                             --non-interactive \
                             --email ${EMAIL} \
                             --agree-tos \
                             --rsa-key-size {{keysize}} \
                             -d ${DOMAIN}
